
<div id="left">
<ng-container class="up-site">
<input class="lineOut" type="text" value={{input2}}>
<input class="line" type="text" value={{input}}>
</ng-container >
<br/>
<ng-container class="down-site">

    <button class="button1" (click)="memoryClear()">MC</button>
    <button class="button1" (click)="memoryRecall()">MR</button>
    <button class="button1" (click)="memoryPlus()">M+</button>
    <button class="button1" (click)="memoryMinus()">M-</button>
    <button class="button1" (click)="memoryStore()">MS</button>
    <br>
    <button class="button" (click)="percentage()">%</button>
    <button class="button" (click)="sqrroot()">√</button>
    <button class="button" (click)="square()">x2</button>
    <button class="button" (click)="opposite() ">1/x</button>
  
    <button class="button" (click)="resetCE()">CE</button>
    <button class="button" (click)="resetC()">C</button>
    <button class="button" (click)="backspace()">D</button>
    <button class="button" (click)="operate('/')">/</button>
 
    <button class="button" (click)="enterNum('7')">7</button>
    <button class="button" (click)="enterNum('8')">8</button>
    <button class="button" (click)="enterNum('9')">9</button>
    <button class="button" (click)="operate('*')">x</button>

	<button class="button" (click)="enterNum('4')">4</button>
	<button class="button" (click)="enterNum('5')">5</button>
    <button class="button" (click)="enterNum('6')">6</button>
    <button class="button" (click)="operate('-')">-</button>

    <button class="button" (click)="enterNum('1')">1</button>
    <button class="button" (click)="enterNum('2')">2</button>
    <button class="button" (click)="enterNum('3')">3</button>
	<button class="button" (click)="operate('+')">+</button>
	

    <button class="button" (click)="negate()">+/-</button>
    <button class="button" (click)="enterNum('0')">0</button>
    <button class="button" (click)="enterNum('.')">,</button>
    <button autofocus class="button" (click)="getAnswer()">=</button>

</ng-container>
</div>

<div id="right">
    
    <div id="historySpace">
        History <br>
        <ng-container *ngFor="let item of historyItems">
        {{item}}
        <br>
        </ng-container>
        <button class="mclear" (click)="clearHistory()">clear</button>
    </div>

    <div  id="memorySpace" >
        Memory <br>
        <ng-container *ngFor="let one of memory">
        {{one}}
        <br>
        </ng-container>
    </div>
</div>

