<mat-toolbar color="basic">
    <mat-toolbar-row>
        <button mat-fab color="basic" routerLink="/posts">
            <mat-icon>home</mat-icon>
          </button>
        <a  mat-button routerLink="/route-based" >Album #1(route-based)</a>
        <a mat-button routerLink="/content-projection-based" >Album #2(content-projection)</a>
        
        <div class="spacer"></div>
        
        <a mat-button routerLink="/posts">Posts</a>
        <button
            mat-button 
            routerLink="/login"
            *ngIf="!authenticationService.isAuthenticated">
            Sign In
        </button>
        <button
            mat-button
            routerLink="/login"
            *ngIf="authenticationService.isAuthenticated">
            You are signed in
        </button>
    </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>
