<div class="login-container">
    <div class="form-container">
        <h2>Registration form</h2>
<form [formGroup]="myForm">
    
    <br>
    <mat-form-field matInput appearance="fill"> <input matInput type="text"  formControlName="name" class="input" placeholder="Name"></mat-form-field>

    <br>
    <mat-form-field matInput appearance="fill"> <input matInput type="text"  formControlName="username" class="input" placeholder="Username"></mat-form-field>

    <br>
    <mat-form-field matInput appearance="fill"> <input matInput type="text"  formControlName="email" class="input" placeholder="Email"></mat-form-field>

    <br>
    <mat-form-field matInput appearance="fill"> <input matInput type="text"  formControlName="password" class="input" placeholder="Password"></mat-form-field>
        
    <br>
    <mat-form-field matInput appearance="fill"> <input matInput type="text"  formControlName="street" class="input" placeholder="Street"></mat-form-field>

    <br>
    <mat-form-field matInput appearance="fill"> <input matInput type="text"  formControlName="suite" class="input" placeholder="Suite"></mat-form-field>

    <br>
    <mat-form-field matInput appearance="fill"> <input matInput type="text"  formControlName="city" class="input" placeholder="City"></mat-form-field>

    <br>
    <mat-form-field matInput appearance="fill"> <input matInput type="text"  formControlName="zipcode" class="input" placeholder="Zipcode"></mat-form-field>

    <br>
    <mat-form-field matInput appearance="fill"> <input matInput type="text"  formControlName="lat" class="input" placeholder="lat"></mat-form-field>

    <br>
    <mat-form-field matInput appearance="fill"> <input matInput type="text"  formControlName="lng" class="input" placeholder="lng"></mat-form-field>

    <br>
    <mat-form-field matInput appearance="fill"> <input matInput type="text"  formControlName="phone" class="input" placeholder="Phone"></mat-form-field>

    <br>
    <mat-form-field matInput appearance="fill"> <input matInput type="text"  formControlName="website" class="input" placeholder="Website"></mat-form-field>

    <br>
    <mat-form-field matInput appearance="fill"> <input matInput type="text"  formControlName="name" class="input" placeholder="Name of company"></mat-form-field>

    <br>
    <mat-form-field matInput appearance="fill"> <input matInput type="text"  formControlName="catchPhrase" class="input" placeholder="catchPhrase"></mat-form-field>

    <br>
    <mat-form-field matInput appearance="fill"> <input matInput type="text"  formControlName="bs" class="input" placeholder="bs"></mat-form-field>

    <br>    
    <button mat-raised-button  (click)="submit()" class="btn-primary">SUBMIT</button>
   
</form>
</div>
</div>