<form [formGroup]="myForm">
    <br>
        ID  <input type="number"  formControlName="id">
    <br>
        Name  <input type="text"  formControlName="name">
    <br>
        Username  <input type="text"  formControlName="username">
    <br>
        email  <input type="text"  formControlName="email">
    <br>
        Password <input type="text"  formControlName="password">
        <br>
        street: <input type="text"  formControlName="street">
        <br>
        suite:<input type="text"  formControlName="suite">
        <br>
        city:<input type="text"  formControlName="city">
        <br>
        zipcode:<input type="text"  formControlName="zipcode">
        <br>
        lat:<input type="text"  formControlName="geo">
        <br>
        lng:<input type="text"  formControlName="lng">
        <br>
        phone: <input type="text"  formControlName="phone">
        <br>
        website: <input type="text"  formControlName="website">
        <br>
        name: <input type="text"  formControlName="name">
        <br>
        catchPhrase: <input type="text"  formControlName="catchPhrase">
        <br>
        bs: <input type="text"  formControlName="bs">
        <br>

    
    
    <button (click) = "submit()" >SUBMIT</button>
    <br>
    <br>
</form>