@media only screen and (min-width: 530px) {
.button{
   text-decoration: none;
   color: cornsilk;
   background-color:#3f51b5;
   padding:5px; 
   margin-right: 0;
   margin-left: 50px; 

}
}
.button{
   text-decoration: none;
   color: cornsilk;
   background-color:#3f51b5;
   font-size: smaller;

}






