<div class="login-container">
    <div class="form-container">
<form [formGroup]="myForm">
   
    <br>
    <mat-form-field matInput appearance="fill"> <input matInput type="text"  formControlName="title" class="input" placeholder="title"></mat-form-field>
 
    <br>
    <mat-form-field matInput appearance="fill"> <input matInput type="text"  formControlName="body" class="input" placeholder="body"></mat-form-field>
 
    
    <br>
    <button mat-raised-button  (click)="submit()" class="btn-primary">SUBMIT</button>

    
    
</form>
</div>
</div>