.login-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: rgb(245, 245, 245);
    margin-top: 5%;
}
.form-container{
    border: rgb(0, 0, 0) solid 2px; 
    padding:5%;
    background-color: basic;
    margin-left: 26%;
    margin-right: 26%;
}
.btn-primary{
    margin:10px;
}
.input{
    border-bottom: 1px solid #000;
    color: black;
}