<form [formGroup]="toastForm">
    <h4>Toast</h4>
    <div>
        <div class="form-group"> 
            <input type="text" formControlName="title"/>
        </div>
        <div class="form-group">
            <input type="text" formControlName="text"/>
        </div>    
    </div>

    <div>
        <input type="radio" formControlName="isRed" [value]=true> Left           
        <input type="radio" formControlName="isRed" [value]=false> Right    
    </div>

 
<button (click)="showToast()">Show toast</button>

</form>